* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #222;
}
.card {
    width: 80%;
    background-color: gray;
    max-width: 500px;
    margin: 100px auto 0;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
    height: 60px;
    width: 400px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
}
.search button {
    border: none;
    height: 60px;
    cursor: pointer;
    width: 60px;
    border-radius: 50%;
    background-color: #222;
    margin-left: 15px;
}
.search button img {
    width: 20px;
    margin-right: 2px;
    margin-top: 4px;
}
.weather h1, h2 {
    margin-bottom: 20px;
}
.weather img {
    height: 120px;
    width: 120px;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
}
.humidity {
    display: flex;
    align-items: center;
    justify-content: center;
}
.humidity img {
    height: 45px;
    width: 45px;
}
.humidity_text {
    display: flex;
    gap: 3px;
    margin-left: 5px;
    flex-direction: column;
}